{% extends "base_template.html" %}

{% block title %}
    About - Al Mayadeen Web Scraper
{% endblock %}

{% block content %}
    <div class="about-section">
        <h1>About the Project</h1>
        <p>Welcome to the Al Mayadeen Web Scraper Project! This project is part of my journey as a graduate in the DGPad Data Science Bootcamp.</p>
        
        <h2>Project Overview</h2>
        <p>The aim of this project is to create a web scraper for the Al Mayadeen news website. This scraper collects thousands of articles, stores them in a structured database, and provides insightful visualizations and analysis through an interactive dashboard.</p>

        <h2>Key Features</h2>
        <ul>
            <li>Scrapes news articles and metadata from the Al Mayadeen website.</li>
            <li>Organizes and stores articles in a MongoDB database.</li>
            <li>Provides visualizations for top keywords, authors, and article statistics.</li>
            <li>Includes features such as sentiment analysis and entity extraction using Natural Language Processing (NLP).</li>
        </ul>

        <h2>About Me</h2>
        <p>As a recent graduate, I’m passionate about data science and web scraping. This project is a practical application of my skills in Python, web development, and data analysis. It is an exciting challenge that has allowed me to combine multiple technologies, including Flask, MongoDB, and amCharts, to create a comprehensive data analysis tool.</p>
    </div>
{% endblock %}
