<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Al Mayadeen Scraper{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboardStyle.css') }}">
</head>
<body>
    <div id="nav-bar">
        <input id="nav-toggle" type="checkbox"/>
        <div id="nav-header">
            <img class="logo" src="{{ url_for('static', filename='images/Al_Mayadeen_logo.png') }}" alt="Al Mayadeen Logo"/> AlMayadeen Scraper
            <label for="nav-toggle"><span id="nav-toggle-burger"></span></label>
            <hr/>
        </div>
        <div id="nav-content">
            <div class="nav-button"><a href="http://127.0.0.1:5000/about">About</a></div><hr/>
            <div class="nav-button"><a href="http://127.0.0.1:5000/topkeywords">Top Keywords</a></div>
            <div class="nav-button"><a href="http://127.0.0.1:5000/topauthors">Top Authors</a></div>
            <div class="nav-button"><a href="http://127.0.0.1:5000/articlesbydate">Articles by Date</a></div>
            <div class="nav-button"><a href="http://127.0.0.1:5000/articlesbywordcount">Articles by Word Count</a></div>
            <div class="nav-button"><a href="http://127.0.0.1:5000/articlesbylanguage">Articles by Language</a></div>
            <div class="nav-button"><a href="http://127.0.0.1:5000/articlesbyclasses">Articles by Classes</a></div>
            <div class="nav-button"><a href="http://127.0.0.1:5000/recentarticles">Recent Articles</a></div>
            <div class="nav-button"><a href="http://127.0.0.1:5000/articlesbykeyword">Articles by Keyword</a></div>
            <div class="nav-button"><a href="http://127.0.0.1:5000/articlesbyauthor">Articles by Author</a></div>
            <div class="nav-button"><a href="http://127.0.0.1:5000/topclasses">Top Classes</a></div>
            <div class="nav-button"><a href="http://127.0.0.1:5000/articledetails">Article Details</a></div>
            <div class="nav-button"><a href="http://127.0.0.1:5000/articleswithvideo">Articles Containing Videos</a></div>
            <div class="nav-button"><a href="http://127.0.0.1:5000/articlesbyyear">Articles by Year</a></div>
            <div class="nav-button"><a href="http://127.0.0.1:5000/longestarticles">Longest Articles</a></div>
            <div class="nav-button"><a href="http://127.0.0.1:5000/shortestarticles">Shortest Articles</a></div>
            <div class="nav-button"><a href="http://127.0.0.1:5000/articlesbykeywordcount">Articles by Keyword Count</a></div>
            <div class="nav-button"><a href="http://127.0.0.1:5000/articleswiththumbnail">Articles with Thumbnail</a></div>
            <div class="nav-button"><a href="http://127.0.0.1:5000/articlesupdatedafterpublication">Articles Updated after Publication</a></div>
            <div class="nav-button"><a href="http://127.0.0.1:5000/articlesbycoverage">Articles by Coverage</a></div>
            <div class="nav-button"><a href="http://127.0.0.1:5000/popularkeywordslastXdays">Popular Keywords Last X Days</a></div>
            <div class="nav-button"><a href="http://127.0.0.1:5000/articlesbymonth">Articles by Month</a></div>
            <div class="nav-button"><a href="http://127.0.0.1:5000/articlesbywordcountrange">Articles by Word Count Range</a></div>
            <div class="nav-button"><a href="http://127.0.0.1:5000/articleswithspecifickeywordcount">Articles with Specific Keyword Count</a></div>
            <div class="nav-button"><a href="http://127.0.0.1:5000/articlesbyspecificdate">Articles in Specific Date</a></div>
            <div class="nav-button"><a href="http://127.0.0.1:5000/articlescontainingtext">Articles Containing Text</a></div>
            <div class="nav-button"><a href="http://127.0.0.1:5000/articleswithmorethan">Articles with More than X Words</a></div>
            <div class="nav-button"><a href="http://127.0.0.1:5000/articlesgroupedbycoverage">Articles Grouped by Coverage</a></div>
            <div class="nav-button"><a href="http://127.0.0.1:5000/articleslastXhours">Articles Last X Hours</a></div>
            <div class="nav-button"><a href="http://127.0.0.1:5000/articlesbytitlelength">Articles by Title Length</a></div>
            <div class="nav-button"><a href="http://127.0.0.1:5000/entitytrends">Entity Trends</a></div>
        </div>
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/wc.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    {% block script %}{% endblock %}
</body>
</html>
