{% extends "base_template.html" %}

{% block title %}Word Cloud{% endblock %}

{% block content %}
<h1 style="text-align:center;">Top Keywords</h1>
<div id="wordclouddiv" style="margin-left:25%; margin-top:100px; width: 50%; height: 500px;"></div>
<div class="explanation-card" id="explanationCard">
    <p>The chart highlights the most frequent keywords found in the articles scraped from Al Mayadeen's website. These keywords reflect the recurring themes and topics covered in the news, providing insight into the focus areas of the platform. The prominence of certain terms suggests key subjects of interest, such as regional events, political developments, or societal issues. Understanding these keywords helps to identify the core topics shaping the narrative of the media outlet.</p>
  </div>
<div class="icon" id="infoIcon" onclick="toggleCard()">i</div>
{% endblock %}

{% block script %}
<script>
fetch('http://127.0.0.1:5000/top_keywords')
  .then(response => {
    if (!response.ok) {
      throw new Error(`HTTP error! status: ${response.status}`);
    }
    return response.json();
  })
  .then(data => {
    console.log("Fetched data:", data);
    createWordCloud(data);
  })
  .catch(error => {
    console.error("Error fetching data:", error);
  });

function createWordCloud(chartData) {
  var root = am5.Root.new("wordclouddiv");
  root.setThemes([am5themes_Animated.new(root)]);
  var series = root.container.children.push(am5wc.WordCloud.new(root, {
    categoryField: "keyword",
    valueField: "occurrences"
  }));
  series.data.setAll(chartData);
  series.appear(1000);
}

    function toggleCard() {
  const card = document.getElementById('explanationCard');
  const icon = document.getElementById('infoIcon');
  if (card.style.display === "block") {
    card.style.display = "none";
    icon.textContent = "i";
  } else {
    card.style.display = "block";
    icon.textContent = "x";
  }
}

</script>
{% endblock %}
