{% extends "base_template.html" %}

{% block title %}Top Authors{% endblock %}

{% block content %}
<h1 style="text-align:center;">Top Authors</h1>
   <div id="chartdiv"style="margin-left:27%; margin-top:5%; width: 50%; height: 500px;"></div>
<div class="explanation-card" id="explanationCard">
    <p>This chart displays the top authors contributing to Al Mayadeen's articles.
        It reveals which journalists or contributors have the most published pieces, highlighting their
        influence and role in shaping the content. The distribution of authorship offers insight into the balance
        of voices within the platform, with the most frequent contributors potentially driving key narratives or
        covering specific areas of interest more extensively.</p>
  </div>
<div class="icon" id="infoIcon" onclick="toggleCard()">i</div>
{% endblock %}

{% block script %}
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script> <!-- Include am5xy.js -->

<script>
   function toggleCard() {
  const card = document.getElementById('explanationCard');
  const icon = document.getElementById('infoIcon');
  if (card.style.display === "block") {
    card.style.display = "none";
    icon.textContent = "i";
  } else {
    card.style.display = "block";
    icon.textContent = "x";
  }
}
am5.ready(function() {
  fetch('http://127.0.0.1:5000/top_authors')
    .then(response => {
      if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`);
      }
      return response.json(); // Parse JSON from the response
    })
    .then(data => {
      console.log(data);

      // Create root element
      var root = am5.Root.new("chartdiv");

      // Set themes
      root.setThemes([
        am5themes_Animated.new(root)
      ]);

      // Create chart
      var chart = root.container.children.push(am5xy.XYChart.new(root, {
        panX: true,
        panY: true,
        wheelX: "panX",
        wheelY: "zoomX",
        pinchZoomX: true,
        paddingLeft: 0,
        paddingRight: 0
      }));

      // Add cursor
      var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {}));
      cursor.lineY.set("visible", false);

      // Create axes
      var xRenderer = am5xy.AxisRendererX.new(root, {
        minGridDistance: 30,
        minorGridEnabled: true
      });

      xRenderer.labels.template.setAll({
        rotation: -90,
        centerY: am5.p50,
        centerX: am5.p100,
        paddingRight: 15
      });

      var xAxis = chart.xAxes.push(am5xy.CategoryAxis.new(root, {
        maxDeviation: 0.3,
        categoryField: "author",
        renderer: xRenderer,
        tooltip: am5.Tooltip.new(root, {})
      }));

      var yRenderer = am5xy.AxisRendererY.new(root, { strokeOpacity: 0.1 });

      var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
        maxDeviation: 0.3,
        renderer: yRenderer
      }));

      // Create series
      var series = chart.series.push(am5xy.ColumnSeries.new(root, {
        name: "Series 1",
        xAxis: xAxis,
        yAxis: yAxis,
        valueYField: "articles_count",
        categoryXField: "author",
        tooltip: am5.Tooltip.new(root, { labelText: "{valueY}" })
      }));

      series.columns.template.setAll({
        cornerRadiusTL: 5,
        cornerRadiusTR: 5,
        strokeOpacity: 0
      });

      series.columns.template.adapters.add("fill", function (fill, target) {
        return chart.get("colors").getIndex(series.columns.indexOf(target));
      });

      series.columns.template.adapters.add("stroke", function (stroke, target) {
        return chart.get("colors").getIndex(series.columns.indexOf(target));
      });

      // Set data
      xAxis.data.setAll(data);
      series.data.setAll(data);

      // Animate series on load
      series.appear(1000);
      chart.appear(1000, 100);
    })
    .catch(error => console.error('Error fetching the data:', error));
}); // end am5.ready()
</script>
{% endblock %}
